<div class="product-item">
  <p class="product-item__field"><strong>Name:</strong> {{firstProduct[0].name}}</p>
  <p class="product-item__field"><strong>Description:</strong> {{firstProduct[0].description}}</p>
  <p class="product-item__field"><strong>Price:</strong> {{firstProduct[0].price}}</p>
  <p class="product-item__field"><strong>Category:</strong> {{firstProduct[0].category}}</p>
  <p class="product-item__field"><strong>isAvailable:</strong> {{firstProduct[0].isAvailable}}</p>
</div>
<hr/>
<p>'{{localStrKey}}' value is: {{localStrValue}}</p>
