<mat-card *ngIf="product$ | async as product">
  <div class="image-container">
    <img class="image" src="../../../../assets/images/watch.jpg" alt="{{product.name}}">
  </div>
  <p class="field"><strong>Name:</strong> {{product.name | uppercase}}</p>
  <p class="field"><strong>Description:</strong> {{product.description}}</p>
  <p class="field"><strong>Price:</strong> {{product.price | currency:'USD':'symbol':"1.0-2"}}</p>
  <p class="field"><strong>Category:</strong> {{product.category}}</p>
  <p class="field"><strong>isAvailable:</strong> {{product.isAvailable}}</p>
  <button
    mat-raised-button
    class="button"
    color="primary"
    type="button"
    [disabled]="!product.isAvailable"
    (click)="onBuy(product)"
  >Buy</button>
</mat-card>
