h1 {
  text-align: center;
}

.product {
  display: inline-block;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.product-vs-cart {
  display: flex;
}

app-product-list {
  width: 75%;
}

app-cart-list {
  width: 25%;
}
