<div class="carts">
  <h2 class="carts-header">Purchased items:</h2>
  <div class="cart-list" *ngIf="products.length; else emptyMessage">
    <app-cart-item
      appHighlight
      *ngFor="let product of products; trackBy: trackByProducts"
      class="cart-item"
      [product]="product"
      (delete)="onDelete($event)"
      (quantityChange)="onQuantityChange(product.id, $event)"
    ></app-cart-item>

    <p class="cart-info">Summary price: {{getTotalPrice()}}</p>
    <p class="cart-info">Total amount: {{getTotalItems()}}</p>
  </div>

  <ng-template #emptyMessage>
    <p class="empty-message">There is no product in the cart yet.</p>
  </ng-template>
</div>
